.divItem{
    /* background-color: rgba(137, 227, 244, .45); */
    /* background-image: linear-gradient(to top, #E7770A, #4e94dd, #f9c803); */
    z-index: 1;
}
h2, h4{
    padding: 15px;
}
.cardLoader{
    max-width:350px;
}

