.card{
    margin: 15px;
}
.card-image-top{
    padding: 8px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.cardItem{
    width: 500px;
}
.cardItem h5, .cardItem p{
    border-radius: 13px;
    padding: 5px;
    width: 460px;
}
.cardItem img{
    height: 500px;
}

.btn-primary{
    background-color: rgba(252, 190, 77, .35);
    border: rgba(0, 0, 0, .55);
}
.btn-primary:hover{
    background-color: rgb(252, 190, 77);
    border: rgba(0, 0, 0, .55);
}

.overLay{
    background-image: linear-gradient(to bottom, rgba(231, 119, 10, .65), rgba(237, 138, 28, .33), rgba(242, 155, 44, .10), rgba(247, 173, 60, .05), rgba(252, 190, 77, .01));
}
