footer{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #E7770A;
    -webkit-box-shadow: -10px 25px 28px 75px rgba(231, 119, 10, .84);
    -moz-box-shadow: -10px 25px 28px 75px rgba(231, 119, 10, .84);
    box-shadow: -10px 25px 28px 75px rgba(231, 119, 10, .84);
    z-index: 0;
}

.logo img{
    height: 85px;
    width: 85px;
}

/* div info */
.info, .socialMedias{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info div, .socialMedias div{
    padding: 15px;
    color: #000000;
}
.socialMedias div svg{
    color: #000000;
    transition: scale 0.25s;
}
.socialMedias div svg:hover{
    scale: 1.1;
}